.DS_Store
.qmake.stash
GPATH
GRTAGS
GTAGS
Makefile
RIVET.app/
*.o
.idea
cmake_install.cmake
*.txt
moc_aboutmessagebox.cpp
moc_computationthread.cpp
moc_configuredialog.cpp
moc_dataselectdialog.cpp
moc_driver.cpp
moc_persistence_diagram.cpp
moc_progressdialog.cpp
moc_slice_diagram.cpp
moc_visualizationwindow.cpp
ui_aboutmessagebox.h
ui_configuredialog.h
ui_dataselectdialog.h
ui_progressdialog.h
ui_visualizationwindow.h
build
cmake-build-*
RIVET.pro
RIVET.pro.user
moc_predefs.h
RIVET.pro
RIVET.pro
